/* Reset */
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
}

/* body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

svg {
    max-height: 100vh;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p {
    font-size: 31px;
    padding: 1%;
}

#textslide-button-text, #experimentslide-button-text {
    font-weight: 600;
    font-size: 60px;
    dominant-baseline: central;
    text-anchor: middle;
    fill: white;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 85vh;
      height: 85vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }